@page "/Tutoriels"

<h1>Tutoriels</h1>

<div class="btn-group2">

    <button onclick="location.href='https://drive.google.com/file/d/1flTgZ3SSJpNiouBoOEWJiaqY_Kgs1G_F/view?usp=sharing'" type="button">GitHub MAC</button>
    <button onclick="location.href='https://drive.google.com/open?id=1AyG8ND4xIAbRxS7HYrSP8gMsXuArWbnM'" type="button">GitHub Windows</button>
    <button onclick="location.href='http://www.google.com'" type="button">Csharp</button>
</div>

@code {

    private void GM()
    {


    }

    private void GW()
    {

    }

    private void Csharp()
    {

    }

}
